@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  
}

.pass {
  font-family: 'JetBrains Mono', monospace;
}

.ip-tracker {
  font-family: 'Rubik', sans-serif;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;  
  background: #18171F;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover::-ms-fill-lower {
    height: 8px;
    background: #04AA6D;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}